<div class="container">
  <div class="row">
    <div class="col-md-12">
        <form method="post" action="#" id="#">
              <div class="form-group files">
                <label>Upload Your File </label>
                <input type="file" class="form-control" multiple="">
              </div>
          </form>
    </div>
  </div>
  <div class="row">
    <img  src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/PDF_file_icon.svg/1200px-PDF_file_icon.svg.png" class="img-thumbnail logo" alt="...">
    <span class="ml-4"> Boletin-Octubre-2021.pdf</span>
  </div>
  <hr>
  <div class="submit">
    <button class="btn btn-info" (click)="subirArchivo()">Cargar Archivo</button>
  </div>
</div>
