<div class="container">
    <div class="row">
        <div class="col">
          <h1>Modulo de Magistrados</h1>
        </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <a href="magistrado/resoluciones" type="button" class="btn btn-success">Casos Resueltos</a>
    </div>
    <div class="col">
      <a href="magistrado/archivados" type="button" class="btn btn-primary">Casos Archivados</a>
    </div>
    <div class="col">
      <a href="magistrado/activos" type="button" class="btn btn-info">Casos Activos</a>
    </div>
  </div>
</div>