<div class="simple-login-container">
    <h2>Recuperar contraseña</h2>
    <div class="row">
        <div class="col-md-12 form-group">
            <input type="text" class="form-control" placeholder="Username" [(ngModel)]="username" name="username">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 form-group">
            <input type="password" placeholder="Enter your New Password" class="form-control" [(ngModel)]="password" name="password">
        </div>
    </div>

    <div class="row1">
        <div class="col-md-12 form-group">

            <button (click)="recuperar()" type="button" class="btn btn-primary">Cambiar contraseña</button>
        </div>
    </div>
</div>
