<div class="center">
  <form class="form-horizontal" (ngSubmit)="addNewData()">
    <fieldset>
      <legend>{{ operacion }} Magistrado</legend>
      <div class="form-group">
        <label for="inputNombre" class="col-lg-2 control-label" >Nombre</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputNombre" placeholder="Nombre Completo" [(ngModel)]="user.nombre" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-group">
        <label for="inputProfesion" class="col-lg-2 control-label">Profesion</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputProfesion" placeholder="Profesion" [(ngModel)]="user.profesion" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="text" class="form-control" id="inputEmail" placeholder="Email" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
        </div>
      </div>
      <div class="form-group">
        <label for="textArea" class="col-lg-2 control-label">Perfil</label>
        <div class="col-lg-10">
          <textarea class="form-control" rows="3" id="textArea" [(ngModel)]="user.perfil" [ngModelOptions]="{standalone: true}"></textarea>
        </div>
      </div>
      <div class="form-group" *ngIf="operacion != 'editar'">
        <div class="col-lg-10 col-lg-offset-2">
          <button type="reset" class="btn btn-default">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </fieldset>
  </form>

</div>
