<div class="container">
    <div class="row">
          <div class="col">
            <h1>Información para el Público</h1>
          </div>
    </div>
    <br/><br/><br/>
    <div class="row">
      <div class="col">
        <a href="biblioteca/Resoluciones" type="button" class="btn btn-primary">Resoluciones</a>
      </div>
      <div class="col">
        <a href="biblioteca/Innovaciones" type="button" class="btn btn-primary">Innovaciones</a>
      </div>
      <div class="col">
        <a href="biblioteca/Casos" type="button" class="btn btn-primary">Casos de Interés</a>
      </div>
      <div class="col">
        <a href="https://dca.gob.gt/noticias-guatemala-diario-centro-america/" type="button" class="btn btn-primary">Diario de Centro América</a>
      </div>
    </div>
  </div>